html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: 'Winter Insight';
  src: url('../fonts/winter_insight.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/winter_insight.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/winter_insight.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/winter_insight.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/winter_insight.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/winter_insight.svg#winter_insight') format('svg');
  /* Chrome < 4, Legacy iOS */
}

img {
  /* width: 100%; */
}

.container {
  max-width: 1495px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header-nav_menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-content {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  height: 100%;
}

.header-nav__menu-link {
  font-weight: 400;
  font-size: 18px;
  color: #09B3B0;
  text-decoration: none;

}

.header-nav_menu-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #09B3B0;
}

.header-nav__menu-btn {
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  width: 99px;
  border: 5px solid #09B3B0;
  border-radius: 10px;
  background-color: #09B3B0;
  color: #FFFFFF;
}

.header-content_wrapper {
  text-align: center;
  padding: 120px 923px 120px 0;
}

.header-content_wrapper-title {
  font-family: 'Winter Insight', sans-serif;
  font-weight: 400;
  font-size: 135px;
  color: #FF9F00;
}

.header-content_wrapper-description {
  font-family: 'Winter Insight', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.header-content_wrapper-price {
  font-family: 'Yrsa, sans-serif';
  font-weight: 400;
  font-size: 36px;
  text-transform: lowercase;
  color: #FF9F00;
}

.content-advisor_wrapper {
  margin: 60px 0;
}

.content-advisor {
  display: flex;
  justify-content: space-between;
}

.content-advisor_heading {
  font-family: 'Yrsa, sans-serif';
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: #FFFFFF;
}

.content-advisor_heading-bg-color {
  padding: 50px 0;
  background-color: #09B3B0;
}

.content-advisor_left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content-advisor_left-name {
  font-weight: 400;
  font-size: 23px;
  color: #008080;
}

.content-advisor_left-description {
  max-width: 458px;
  font-weight: 400;
  font-size: 16px;
  color: #09292F;
}

.content-advisor_left-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-advisor_right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 5px;
}

.content-advisor_right-freeTime {
  font-weight: 400;
  font-size: 12px;
  padding: 6px 49px 6px 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #09B3B0;
  color: #FFFFFF;
}

.content-advisor_right-price {
  font-weight: 400;
  font-size: 22px;

}

.content-advisor_right-min {
  font-weight: 400;
  font-size: 16px;
}

.content-advisor_btn-orange {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #FF9F00;
  padding: 13px 10px;
  color: #FFFFFF;
  background: #FF9F00;

}

.content-advisor_btn-blue {
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #09B3B0;
  padding: 13px 10px;
  color: #FFFFFF;
  background: #09B3B0;
}